# IMPORTANDO LIBRERIAS

In [2]:
import pandas as pd

# IMPORTANDO EXCEL

In [11]:
##Es importante notar la codificación de nuestro archivo csv, pues si NO se encuentra codificado en UTF-8 -que es el default que python espera encontrar-
## nos va a arrojar un error de "encoding" por lo que tenemos que especificar con "encoding='latin-1'" la codificación del archivo
raw_data = pd.read_csv(r'C:\AQUI VA LA RUTA DE TU ARCHIVO\Database_Test1.csv', encoding='latin-1')
raw_data

,NOMBRE,APELLIDO,CIUDAD,ESTADO,TIMESTAMP,CANAL_COMPRA,PRECIO,CONSUMO,SEXO
0,Pedro,Garcia,Tijuana,Baja California,2023/03/01 09:30,Tienda_Fisica,"$1,897.00",En tienda,Hombre
1,Paco,Rodriguez,Irapuato,Guanajuato,2023/03/02 00:45,Tienda_Fisica,"$1,069.00",En tienda,Hombre
2,Luis,Gonzalez,León,Guanajuato,2023/03/03 00:45,Tienda_Fisica,"$1,957.00",En tienda,Hombre
3,Francisco,Fernandez,Puebla de Zaragoza,Puebla,2023/03/04 00:45,Tienda_Fisica,$408.00,Para llevar,Hombre
4,Javier,Lopez,Ciudad Juárez,Chihuahua,2023/03/01 09:30,Tienda_Fisica,"$1,876.00",En tienda,Hombre
...,...,...,...,...,...,...,...,...,...
95,Jim,Moya,Morelia,Michoacán,2023/06/04 00:45,Tienda_Fisica,"$1,446.00",Para llevar,Hombre
96,Alexander,Bravo,Tijuana,Baja California,2023/05/30 11:45,Tienda_Fisica,$632.00,Para llevar,Hombre
97,Valeria,Soler,Irapuato,Guanajuato,2023/06/07 00:45,Tienda_Fisica,$57.00,Para llevar,Mujer
98,Miranda,Gallardo,León,Guanajuato,2023/06/07 00:45,Tienda_Fisica,$483.00,Para llevar,Mujer
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN